<p>addsafari works!</p>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Add Book</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Book Title</label>
                          <input type="email" [(ngModel)]="safari.title" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Book Link</label>
                            <input type="text" [(ngModel)]="safari.url" class="form-control" name="password">
                          </div>
                        <!-- <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Book Img Link</label>
                            <input type="password" [(ngModel)]="safari.img_url" class="form-control" name="password">
                          </div> -->
                        
                        <button type="submit"(click)="add()" class="btn btn-info">Login</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>